@page "/users/{Id}/roles"
@attribute [MustHavePermission(ApplicationAction.View, ApplicationResource.UserRoles)]

<ModaPageBreadCrumbs Breadcrumbs="_breadcrumbs" />

<ModaTitle Title="@_title" Description="@_description" />

@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Dense="true" Hover="true" Bordered="true" Striped="true" Elevation="25" Items="_userRolesList" Height="700px" Filter="new Func<UserRoleDto, bool>(Search)">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @if (_canEditUsers)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="SaveAsync" StartIcon="@Icons.Material.Filled.Save"
                        ButtonType="ButtonType.Submit" Style="margin-left: 5px!important;">
                        Update
                    </MudButton>
                }
            </div>
            <MudSpacer />
            @if (_canSearchRoles)
            {
                <MudTextField @bind-Value="_searchString" Immediate="true" FullWidth=false
                    Placeholder="Search For User Roles" Adornment="Adornment.End"
                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3">
                </MudTextField>
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<UserRoleDto, object?>(x => x.RoleName)">Role Name</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<UserRoleDto, object?>(x => x.Description)">Description</MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<UserRoleDto, object>(x => x.Enabled)">Status</MudTableSortLabel>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Role Name">
                <MudHighlighter Text="@context.RoleName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Description">
                <MudHighlighter Text="@context.Description" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Role">
                <MudCheckBox @bind-Checked="@context.Enabled" Disabled="@(!_canEditUsers)" Color="Color.Secondary">
                </MudCheckBox>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@code {

    private List<BreadcrumbItem> _breadcrumbs = new()
    {
        new BreadcrumbItem("Users", href: "/users"),
        new BreadcrumbItem("User Roles", href: null, disabled: true)
    };
}